<!DOCTYPE html>
<html lang="ar">
<head>
	<% include ./_head.ejs %>
	<title>حسان القوز</title>
</head>
<body dir="rtl">
	<div class="wrapper">
		<!-- About Card -->
		<header class="about card">
			<h1>حسان القوز</h1>
			<p>مبرمج وطالب علوم المعلومات والحاسب. مهتم بالتعليم. KFUPM. لغة Go من أفضل ما تعلّمت.</p>
			<div>
				<a href="//youtube.com/channel/UCaD5hX1OzVezzbIqHm3VHsQ"><img src="/img/YouTube.png" width="32" height="32" alt="Youtube"></a>
				<a href="//github.com/hassanalgoz"><img src="/img/Github.png" width="32" height="32" alt="Github"></a>
				<a href="//twitter.com/Hassan_Algoz"><img src="/img/Twitter.png" width="32" height="32" alt="Twitter"></a>
				<a href="//www.linkedin.com/in/hassan-algoz-77431118"><img src="/img/Linkedin.png" width="32" height="32" alt="Linkedin"></a>
			</div>
		</header>

		<ul>
			<li><a href="/p/study.html">لطلاب الجامعات</a></li>
			<li><a href="/p/dict.html">مصطلحات حاسوبية</a></li>
			<li><a href="/p/editor.html">المُحرّر</a></li>
		</ul>
		
		<!-- Main Content -->
		<main>
			<div>
				<button class="black" onclick="selectFilter(this)" value="all" id="btnFilterAll">الكل</button>
				<button class="white" onclick="selectFilter(this)" value="courses" id="btnFilterCourses"><i class="fa fa-diamond w3-margin-right"></i> الدورات</button>
				<button class="white" onclick="selectFilter(this)" value="maps" id="btnFilterMaps"><i class="fa fa-photo w3-margin-right"></i> الخرائط الذهنية</button>
			</div>
			<hr/>
			<section class="grid" id="content">
				<!-- Dynamically Rendered -->
			</section>
		</main>
		
		<!-- Pagination -->
		<div class="center">
			<button class="black" onclick="more()" id="btnMore">المزيد</button>
		</div>
		
		<!-- Footer -->
		<footer class="center">
			<p id="copyright"></p>
		</footer>

	</div>

	<!-- SCRIPT -->
	<script>
		const data = <%- JSON.stringify(data) %>
	</script>
	<script src="/js/index.js"></script>
</body>
</html>