@import "vs2015.css";

.post-container {
    max-width: 720px;
    padding: 16px;
    margin: 0 auto;
}

h1,
h2 {
    margin-bottom: 0;
}

h3,
h4,
h5,
h6 {
    margin-top: 6px;
    margin-bottom: 12px;
}

h1 {
    font-size: 28px;
}

h2, h3 {
    font-size: 24px;
}

.post-container {
    font-size: 19px;
}

p {
    margin-top: 4px;
    margin-bottom: 10px;
}

code {
    background-color: #ffecec;
    color: rgb(236, 97, 97);
}

pre code {
    direction: ltr;
}

.font-small {
    font-size: 0.8rem;
}