<!DOCTYPE html>
<html lang="ar">
<head>
    <% include src/pages/parts/_head.ejs %>
    <title><%= title %> - <%= date %></title>
</head>
<body dir="rtl">
    <% include src/pages/parts/_nav.ejs %>
    <%- body %>
    <% include src/pages/parts/_footer.ejs %>
</body>
</html>